<mat-card>
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input  matInput  placeholder="Username" formControlName="username" name="username"  class="form-control" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input  matInput  placeholder="Password" formControlName="password" name="password"  class="form-control" required>
    </mat-form-field>
    <mat-card-actions>
      <button  mat-raised-button [disabled]="loading" color="primary" class="btn-primary">Register</button>
    </mat-card-actions>
    <mat-error *ngIf="error">{{error}}</mat-error>
  </form>
</mat-card>
