<div class="header-popup-card">
  <p mat-dialog-title class="popup-card-title">
    <app-editable-title
      [title]="card.title"
      (titleUpdate)="updateTitle($event)">
    </app-editable-title>
  </p>
  <button mat-raised-button class="btn delete-bt " color="warn" type="button" (click)="deleteCard(card.card_id)"><i class="fas fa-trash-alt"></i></button>
</div>
<div class="content-popup-card">
    <p class="card-description-text">
        <span
          [style.display]="editingDescription ? 'none' : ''"
          (click)="editDescription()">
          {{card.description}}
        </span>
      <textarea rows="6"
        [style.display]="editingDescription ? '' : 'none'"
        (blur)="updateDescription()"
        (keyup)="blurOnEnter($event)"
        [(ngModel)]="card.description">
      </textarea>
    </p>
</div>
<div class="footer-popup-card">
  <mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
  </mat-dialog-actions>
</div>

