<div class="container board-container">
  <div class="custom-section">
    <h2>My Boards: </h2>
  </div>
  <div class="custom-section" *ngIf="boards.length == 0">
    <p>You don't have any boards.</p>
  </div>
  <div class="custom-section">
    <div class="boards-section-wrapper">
      <a *ngFor="let board of boards" routerLink="/boards/{{board.board_id}}" class="custom-single-board-box">
          <div>
            <p class="custom-board-title">{{board.title}}</p>
          </div>
          <!--<div>-->
            <!--<button mat-raised-button routerLink="/boards/{{board.board_id}}" color="primary">Open board</button>-->
          <!--</div>-->
      </a>
      <div class="custom-single-board-box custom-box-add-board">
        <mat-form-field>
          <input
            matInput
            #boardName
            (keyup.enter)="addBoard(boardName.value);
            boardName.value=''"
            type="text" id="myInput"  placeholder="Board name">
        </mat-form-field>
        <mat-card-actions>
          <button
            mat-raised-button
            (click)="addBoard(boardName.value);
            boardName.value=''"
            color="primary">Add new board</button>
        </mat-card-actions>
      </div>
    </div>
  </div>
</div>







